@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vijayakumar Kuppusamy<br />
    Toronto, ON<br />
    <abbr title="Phone">P:</abbr>
    647.781.7452
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vkuppusamy@hotmail.com">vkuppusamy@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vkuppusamy@hotmail.com">vkuppusamy@hotmail.com</a>
</address>